<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataTypeSection" type="AlgoQuest.Configuration.Core.DataTypeSection, AlgoQuestEnterpriseManager"/>
    <section name="DataTypeMappingSection" type="AlgoQuest.Configuration.Import.DataTypeMappingSection, AlgoQuestEnterpriseManager"/>
    <section name="SqlAnalysisSection" type="AlgoQuest.Configuration.Core.SqlAnalysisSection, AlgoQuestEnterpriseManager"/>
  </configSections>
  <appSettings>
    <add key="DataBasePath" value="E:/AQ_DATABASES/DB/"/>
    <add key="ConfigPath" value="E:/AQ_DATABASES/CFG/"/>
    <add key="NbRecordsToPrint" value="100"/>
    <add key="OracleDatabasesQuery" value=""/>
    <add key="OracleTablesQuery" value="SELECT table_name FROM user_tables"/>
    <add key="OracleDataQuery" value="SELECT * FROM {0}"/>
    <add key="OracleColumnsQuery" value="SELECT COLUMN_NAME, COLUMN_ID, DATA_LENGTH, DATA_TYPE FROM SYS.ALL_TAB_COLUMNS WHERE TABLE_NAME = '{0}' ORDER BY COLUMN_ID"/>
    <add key="SqlDatabasesQuery" value="SELECT NAME FROM SYSDATABASES"/>
    <add key="SqlTablesQuery" value ="SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE Table_Type='BASE TABLE'"/>
    <add key="SqlColumnsQuery" value="SELECT COLUMN_NAME, ORDINAL_POSITION, CHARACTER_MAXIMUM_LENGTH, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{0}'"/>
    <add key="SqlDataQuery" value="SELECT * FROM {0}"/>
    <add key="MySqlDatabasesQuery" value="SELECT NAME FROM SYSDATABASES"/>
    <add key="MySqlTablesQuery" value ="SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_SCHEMA = '{0}'"/>
    <add key="MySqlColumnsQuery" value="SELECT COLUMN_NAME, ORDINAL_POSITION, CHARACTER_MAXIMUM_LENGTH, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{0}'"/>
    <add key="MySqlDataQuery" value="SELECT * FROM {0}"/>
    <add key="Login" value="admin"/>
    <add key="Password" value="password"/>
    <add key="ThreadCount" value="8"/>
  </appSettings>
  <DataTypeSection>
    <DataTypes>
      <add dataType="VARCHAR" defaultLength=""/>
      <add dataType="VARCHAR2" defaultLength=""/>
      <add dataType="FLOAT" defaultLength="20"/>
      <add dataType="INT" defaultLength="19"/>
      <add dataType="BIG_INT" defaultLength="19"/>
      <add dataType="DOUBLE" defaultLength="19"/>
      <add dataType="DATE1" defaultLength="19"/>
      <add dataType="DATE2" defaultLength="19"/>
      <add dataType="DATE3" defaultLength="19"/>
    </DataTypes>
  </DataTypeSection>
  <DataTypeMappingSection>
    <Mappings>
      <add baseType="SqlServer" defaultType="CHAR" finalType="VARCHAR" />
      <add baseType="SqlServer" defaultType="VARCHAR" finalType="VARCHAR2" />
      <add baseType="SqlServer" defaultType="VARCHAR2" finalType="VARCHAR2"/>
      <add baseType="SqlServer" defaultType="TEXT" finalType="VARCHAR2" defaultLength="19"/>
      <add baseType="SqlServer" defaultType="DECIMAL" finalType="DOUBLE" defaultLength="18"/>
      <add baseType="SqlServer" defaultType="FLOAT" finalType="DOUBLE" defaultLength="19"/>
      <add baseType="SqlServer" defaultType="BIGINT" finalType="BIG_INT" defaultLength="19"/>
      <add baseType="SqlServer" defaultType="INT" finalType="INT" defaultLength="19"/>
      <add baseType="SqlServer" defaultType="tinyint" finalType="INT" defaultLength="19"/>
      <add baseType="SqlServer" defaultType="numeric" finalType="NUMBER" defaultLength="19"/>
      <add baseType="SqlServer" defaultType="smallint" finalType="INT" defaultLength="10"/>
      <add baseType="SqlServer" defaultType="datetime" finalType="DATE1" defaultLength="19"/>
      <add baseType="MySql" defaultType="INT" finalType="INT" defaultLength="19" />
      <add baseType="MySql" defaultType="LONGTEXT" finalType="VARCHAR2" defaultLength="19"/>
      <add baseType="MySql" defaultType="float" finalType="DOUBLE" defaultLength="19"/>
      <add baseType="MySql" defaultType="varchar" finalType="VARCHAR2" />
      <add baseType="Oracle" defaultType="NUMERIC" finalType="DOUBLE"/>
      <add baseType="Oracle" defaultType="CHAR" finalType="VARCHAR" />
      <add baseType="Oracle" defaultType="VARCHAR" finalType="VARCHAR2" />
      <add baseType="Oracle" defaultType="VARCHAR2" finalType="VARCHAR2"/>
      <add baseType="Oracle" defaultType="TEXT" finalType="VARCHAR2" defaultLength="19"/>
      <add baseType="Oracle" defaultType="DECIMAL" finalType="DOUBLE" defaultLength="18"/>
      <add baseType="Oracle" defaultType="float" finalType="DOUBLE" defaultLength="19"/>
      <add baseType="Oracle" defaultType="BIGINT" finalType="BIG_INT" defaultLength="19"/>
      <add baseType="Oracle" defaultType="INT" finalType="INT" defaultLength="19"/>
      <add baseType="Oracle" defaultType="tinyint" finalType="INT" defaultLength="10"/>
      <add baseType="Oracle" defaultType="numeric" finalType="DOUBLE" defaultLength="19"/>
      <add baseType="Oracle" defaultType="smallint" finalType="INT" defaultLength="10"/>
      <add baseType="Oracle" defaultType="DATE" finalType="DATE1" defaultLength="19"/>
      <add baseType="Oracle" defaultType="NUMBER" finalType="DOUBLE" defaultLength="19"/>
      <add baseType="Oracle" defaultType="timestamp" finalType="DATE1" defaultLength="19"/>
      <add baseType="Oracle" defaultType="timestamp(6)" finalType="DATE1" defaultLength="19"/>
    </Mappings>
  </DataTypeMappingSection>
  <SqlAnalysisSection>
    <Keywords>
      <add keyword="select" color="blue" font=""/>
      <add keyword="from" color="blue" font=""/>
    </Keywords>
  </SqlAnalysisSection>
</configuration>