AQIHM/AlgoQuestEnterpriseManager/obj/

AQManager/Debug/
AQManager/build/

AQODBC/build/

AQQueryResolver/aq/parser/lex.yy.cpp
AQQueryResolver/aq/parser/sql92_grm_tab.cpp
AQQueryResolver/aq/parser/sql92_grm_tab.hpp
AQQueryResolver/build/
AQQueryResolver/CMakeCache.txt
AQQueryResolver/CMakeFiles/
AQQueryResolver/Makefile
AQQueryResolver/lib/
AQQueryResolver/cmake_install.cmake

AQUnitTest/build/
AQUnitTests/CMakeCache.txt
AQUnitTests/CMakeFiles/
AQUnitTests/Makefile
AQUnitTests/bin/
AQUnitTests/cmake_install.cmake

AQServer/build/

AQSuite/AlgoQuestSuite.opensdf
AQSuite/AlgoQuestSuite.sdf
AQSuite/AlgoQuestSuite.v11.suo
AQSuite/ipch/
AQSuite/x64/

AQTools/AQTools.vcxproj.user
AQTools/build/
AQTools/CMakeCache.txt
AQTools/CMakeFiles/
AQTools/CMakeLists.txt
AQTools/Makefile
AQTools/bin/
AQTools/cmake_install.cmake

AQUtil/build/
AQUtil/CMakeCache.txt
AQUtil/CMakeFiles/
AQUtil/Makefile
AQUtil/bin/
AQUtil/cmake_install.cmake
AQUtil/lib/
