<aq_config>
  <databases>
    <database>
      <dbname>BNP</dbname>
      <iniFile>E:/AQ_DATABASES/CFG/BNP.ini</iniFile>
    </database>
    <database>
      <dbname>MSALGOQUEST</dbname>
      <iniFile>E:/AQ_DATABASES/CFG/MSALGOQUEST.ini</iniFile>
    </database>
    <database>
      <dbname>TEST</dbname>
      <iniFile>E:/AQ_DATABASES/CFG/TEST.ini</iniFile>
    </database>
  </databases>
</aq_config>
